body
{
    margin: auto;
    max-width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    background: #345a81;
    color: #333333;
}
a
{
	color: #28405a;
    text-decoration: none;
}

img
{
    vertical-align: middle;
    border: 0;
}


h1, h2, h3, h4, h5, h6
{
    padding: 0px;
    margin: 0px;
    font-size: small;
    font-weight: normal;
}

input
{
    vertical-align: middle;
}
.input_text
{
    width: 222px;
}
.input_text.error
{
    background-color: #ffe0e0;
}


.center
{
    text-align: center;
}
.right
{
    text-align: right;
}

.desc
{
    color: #a2a2a2;
    font-size: 90%;
}
.desc.error
{
    color: #8a2020;
}

.page
{
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}


.header
{
    background-color: #28405a;
    color: #ffffff;
    padding: 5px;
}
.header a
{
    color: #ffffff;
}


.tabs
{
    padding: 5px 15px 5px 2px;
    background-color: #28405a;
    color: #ffffff;
    border-bottom: 5px solid #528f6c;
    font-weight: bold;
}
.tabs a
{
    color: #7aa3cc;
    padding: 3px 4px 3px;
}
.tabs a:focus
{
    color: #ffffff;
}

.tab
{
    width: 100px;
    padding: 5px;
    margin: 2px;
    color: #ffffff;
    background-color: #39516b;
}

.tab a
{
    text-decoration: none;
}

.tab.select
{
    background-color: #528f6c;
}
.tab.select a
{
    color: #ffffff;
    text-decoration: none;
}


.navbar
{
    padding: 5px;
    color: gray;
    background-color: #e6f1fa;
}
.navbar a
{
    color: gray;
}

.content
{
    padding: 10px;
}
.content_sub
{
    padding: 5px;
}


.board
{
    padding: 0px 0px 10px 0px;
}
.board_bottom
{
    padding: 0px;
}



.title
{
    padding: 5px;
    background-color: #28405a;
    color: #ffffff;
}
.title a
{
    color: #ffffff;
}



.list
{
    padding: 0px;
    margin: 0px;
    border-bottom: 4px solid #d5dde5;
}
.row
{ 
    padding: 5px;
}
.normal
{
    color: #000000;
    background-color: #fafbfc;
}
.dark
{
    color: #000000;
    background-color: #f0f5fa;
}
.darker
{
    color: #000000;
    background-color: #e6f1fa;
}

.border_bottom
{
    border-bottom: 1px #e9edf1 solid;
}



.info
{
    padding: 5px;
    margin: 0px;
    border: 1px solid #e6f1fa;
    background-color: #f7fcff;
}
.copy
{
    padding: 10px;
    background-color: #ffffff;
    font-size: smaller;
    color: silver;
}
.copy a
{
    font-weight: bold;
    color: silver;
}

.buttons
{
    padding: 5px 10px 5px 10px;
    background-color: #b8cee5;
}
.ibutton
{
    padding: 2px 5px 2px 5px;
    background-color: #1d3652;
    color: #ffffff;
    border-left: 1px solid #4f7298;
    border-top: 1px solid #4f7298;
    border-right: 1px solid #113051;
    border-bottom: 1px solid #113051;
}
.message
{
    background-image: url(../images/information.png);
	background-repeat: no-repeat;
	background-position: 8px 10px;
	padding: 10px 10px 10px 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #b0ce94;
	background-color: #f1f6ec;
	color: #3e4934;
	line-height: 150%;
    margin: 10px 0 10px 0;
}
.message.error
{
    background-color: #f3dddd;
    background-image: url(../images/exclamation.png);
    border-color: #deb7b7;
    color: #281b1b;
}
.message.unspecific
{
    background-color: #f3f3f3;
    border-color: #d4d4d4;
    color: #515151;
    clear: both;
}
.message.unspecific.note
{
    background-color: #f9f7e0;
    border-color: #eadca0;
    margin-top: 8px;
}

.eula
{
	height: 210px;
	border: 1px solid #76774C;
	background-color: #FDFDD3;
	padding: 5px;
	overflow: auto;
    margin: 5px;
}
