/*
http://green-beast.com/blog/?p=109
http://tantek.com/log/2004/undohtml.css
http://meyerweb.com/eric/thoughts/category/tech/css/
*/

/******************* Undo Browser Defaults *******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

body 
{
font-family:;
font-size: 1.2em;
letter-spacing:;
word-spacing:;
line-height:;
color: #000000;
background: #ffffff;
}


/******************* Headings *******************/
/* Banner */
h1 {}
h1 span { text-indent: -9999px; }

/* Pagetitle */
h2 {}

/* Head */
h3 {}

/* Subhead/Bold */
h4 {}


/* no list-markers by default, since lists are used more often for semantics */
ul, ol { list-style: none }

/* avoid browser default inconsistent heading font-sizes */
h1, h2, h3, h4, h5, h6, pre, code { font-size: 1em; }


a img, img { border: none; }
a { text-decoration: none; }

/* de-italicize address */
address { font-style: normal; }
acronym, abbr { border-bottom: #000 1px dashed; cursor: help; }
blockquote, q {}
code {}
hr {}


table { border: 1px solid black; border-collapse: collapse; border-spacing: 0; }
th { }
td { border: 1px solid black; margin: 0px; padding: 0px; }



/******************* Form Elements *******************/
form { }
fieldset { border: 1px solid #cccccc; }
legend { color: #000000; }
label { }
select { }
option { }
textarea { }
input[type="button"] { }
input[type="checkbox"] { }
input[type="file"] { }
input[type="hidden"] { }
input[type="image"] { }
input[type="password"] { }
input[type="radio"] { }
input[type="reset"] { }
input[type="submit"] { }
input[type="text"] { }
button { }



/******************* General Styles *******************/
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.sup { vertical-align: super; }
.sub { vertical-align: sub; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.eleven { font-size: 11px; }
.twelve { font-size: 12px; }
.thirteen { font-size: 13px; }
.fourteen { font-size: 14px; }
.fifteen { font-size: 15px; }
.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
.o { text-decoration: overline; }
.s { text-decoration: line-through; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.camelcase { text-transform: capitalize; }
.smallcaps { font-variant: small-caps; }
.slant { font-style: oblique; }
.indent { text-indent: 10px; }
.wrap { word-wrap: break-word; white-space: normal; }
.pre { white-space: pre; }
.block { display: block; }
.inline { display: inline; }
.none { display: none; }
.visible { visibility: visible; }
.hidden { visibility: hidden; }
.collapse { visibility: collapse; }
.circle { list-style-type: circle; }
.disc { list-style-type: disc;}
.clear { clear: both;}
ul.collapse { list-style-type: none; }
ul.collapse li { list-style-type: none; display: inline; }

#content > /* whole slew of elements such as A UL LI IMG ect. */
