* 
{
    padding: 0;
    margin: 0;
}

body
{
    margin: auto;
    max-width: 100%;
    min-width: 300px;
    font-family: Arial, Helvetica, Sans-Serif;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: small;
    /*background-color: #345a81;*/
    background-color: #e4ebf2;
    color: #333333;
}
a
{
	color: #28405a;
    text-decoration: none;
}
a:hover
{
    color: #528f6c;
    text-decoration: none;
}

img
{
    vertical-align: middle;
    border: 0;
}

table
{
    width: 100%;
}



input[type=text]
{
    width: 96%;
    color: #333333;
    margin: 1px;
    padding: 3px;
}
input[type=password]
{
    width: 96%;
    color: #333333;
    margin: 1px;
    padding: 3px;
}
input[type=file]
{
    width: 96%;
    color: #333333;
    margin: 1px;
    padding: 3px;
}


input[type=text].error
{
    background-color: #ffe0e0;
}
textarea
{
    width: 95%;
    margin: 1px;
    padding: 3px;
    font-family: "Arial", "Helvetica", sans-serif;
}
select
{
    width: 96%;
    color: #333333;
    margin: 1px;
    padding: 3px;
}


.buttons
{
    padding: 6px 8px 6px 8px;
    background-color: #b8cee5;
    text-align: center;
}

.pagination
{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

.button
{
    padding: 4px 5px 4px 5px;
    background-color: #1d3652;
    color: #ffffff;
    border-left: 1px solid #4f7298;
    border-top: 1px solid #4f7298;
    border-right: 1px solid #113051;
    border-bottom: 1px solid #113051;
    display: inline-block;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
}
.button a
{
    color: #fff;
    text-decoration: none;
}
.button.cancel
{
    background-color: #E0E0E0;
    color: #333333;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}

.button.pagination
{
    padding: 4px 6px;
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid #DDD;
    font-weight: bold;
}
.button.pagination.select
{
    background-color: #FFF;
    color: silver;
}

.button.ibutton
{
    padding: 4px 5px 4px 5px;
    background-color: #1d3652;
    color: #ffffff;
    border-left: 1px solid #4f7298;
    border-top: 1px solid #4f7298;
    border-right: 1px solid #113051;
    border-bottom: 1px solid #113051;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
}
.button.ibutton:hover
{
    background-color: #2e4968;
    color: #ffffff;
    border-left: 1px solid #4f7298;
    border-top: 1px solid #4f7298;
    border-right: 1px solid #113051;
    border-bottom: 1px solid #113051;
}


.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
.o { text-decoration: overline; }
.s { text-decoration: line-through; }
.small { font-size: small; }
.smaller { font-size: smaller; }
.medium { font-size: medium; }
.large { font-size: large; }
.larger { font-size: larger; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }
.float_left { float: left; }
.float_right { float: right; }


.desc, .desc a
{
    color: #a2a2a2;
}

.desc.error
{
    color: #8a2020;
}


.page
{
    background-color: #FFFFFF;
}


.header
{
    background-color: #28405a;
    border-bottom: 6px solid #528f6c;
    color: #ffffff;
}
.header a
{
    color: #ffffff;
}

.logo
{
    background: #28405A url(../../images/gradient.png) top left repeat-x;
    color: #5B738D;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px 0px #39516b;
	font-size: 22px;
}
.logo a
{
    color: #91a1be;
}


.panel
{
    background-color: #444444;
    color: #AAA;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}
.panel a
{
    color: #fff;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
}

.panel a:hover
{
	background: #333;
	text-decoration: none;
}

.menu
{ 
    background-color: #39516b;
    color: #ffffff;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}
.menu a
{
    background-color: #39516b;
    color: #FFFFFF;
	padding: 6px 10px 6px 10px;
	text-decoration: none;
}
.menu a:hover
{
	background: #28405A;
}

.menu a.current
{
	background-color: #528f6c;
    /*
    -moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
    -khtml-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    */
}

.bottommenu
{
    background-color: #e6f1fa;
    color: gray;
    font-size: small;
    font-weight: bold;
    padding: 6px 8px 6px 8px;
    text-transform: lowercase;
}
.bottommenu a
{
    color: gray;
}

.navbar
{
    padding: 6px 0px 6px 0px;
    color: gray;
    background-color: #e6f1fa;
}
.navbar a
{
    padding: 6px 8px 6px 8px;
    color: gray;
}
.navbar a:hover
{
    background-color: #d5e0e9;
}


.content
{
    padding: 8px;
}



/**
.title
{
    padding: 5px;
    background-color: #28405a;
    color: #ffffff;
}
.title a
{
    color: #ffffff;
}
.title a:hover
{
    color: #528f6c;
    text-decoration: underline;
}

.list
{
    padding: 0px;
    margin: 0px;
    border-bottom: 4px solid #d5dde5;
}
.row
{ 
    padding: 5px;
}
.normal
{
    color: #000000;
    background-color: #fafbfc;
}
.dark
{
    color: #000000;
    background-color: #f0f5fa;
}
.darker
{
    color: #000000;
    background-color: #e6f1fa;
}

.border_bottom
{
    border-bottom: 1px #e9edf1 solid;
}

*/




.list
{
    border-bottom: 5px solid #e9edf1;
}
.title
{
    margin: 0;
    padding: 5px;
    background-color: #b6c7db;
    font-weight: bold;
    text-shadow: #ddd 1px 1px 0px;
    
}
.row
{
    margin: 0;
    padding: 5px 5px 5px 5px;
    border-top: #e9edf1 solid 1px;
}
.row.normal
{
    background-color: #fafbfc;
}
.row.odd
{
    background-color: #f0f5fa;
}
.arrow
{
    background-attachment: scroll !important;
    background-color: transparent !important;
    background-image: url("../../images/rarrow.png") !important;
    background-position: 0% 0% !important;
    background-repeat: no-repeat !important;
    display: block;
    float: right;
    height: 18px;
    opacity: 0.5;
    position: relative;
    width: 12px;
}
.sticky
{
    background-attachment: scroll !important;
    background-color: transparent !important;
    background-image: url("../../images/attach.png") !important;
    background-position: 0% 0% !important;
    background-repeat: no-repeat !important;
    display: block;
    float: right;
    opacity: 0.5;
    position: relative;
    height: 18px;
    width: 16px;
}
.link
{
    font-weight: bold;
}



.posts
{
    padding: 8px 8px 2px 8px;
    background-color: #e4ebf2;
}
.post
{
    background-color: #FFFFFF;
    border: 1px solid #aaaaaa;
    margin-top: 0px;
    margin-bottom: 8px;
}
.post_author
{
    padding: 10px 0px 9px 10px;
    /*background-color: #e6f1fa;*/
    background-color: #FFFFFF;
    border-bottom: 1px solid #aaaaaa;
}
img.photo
{
    float: left;
    position: relative;
    left: -10px;
    top: -10px;
    border-right: 1px solid #aaaaaa;
    width: 50px;
    height: 50px;
}
.post_content
{
    clear: both;
    overflow: auto;
    display: block;
    padding: 0px 8px 8px 8px;
    border-bottom: 0px solid #DDDDDD;
}
.post_quote
{
    border: 1px solid #d4d4d4;
    background-color: #f8f8f8;
    margin: 4px 2px;
}
.post_quote .citation
{
    color: #000000;
    font-size: smaller;
    padding: 4px;
    border-bottom: 1px solid #d4d4d4;
    background-color: #e4ebf2;
}
.post_quote .content
{
    color: #000000;
    padding: 6px;
}

.post_attachments
{
    padding: 6px 8px 6px 8px;
}
.post_buttons
{
    padding: 5px 10px 5px 10px;
    background-color: #f3f3f3;
}







ol, ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 30px;
}
ul.bullet
{
    list-style-type: disc;
}
ul.decimal
{
    list-style-type: decimal;
}
ul.lowerroman
{
    list-style-type: lower-roman;
}
ul.upperroman
{
    list-style-type: upper-roman;
}
ul.loweralpha
{
    list-style-type: lower-alpha;
}
ul.upperalpha
{
    list-style-type: upper-alpha;
}

.code
{
    background-color: #f8f8f8;
    border: 1px solid #c9c9c9;
    padding: 10px;
}

.info
{
    padding: 5px;
    border: 1px solid #e6f1fa;
    background-color: #f7fcff;
}
.copy
{
    padding: 10px;
    background-color: #ffffff;
    font-size: smaller;
    color: #666;
}

.message
{
    background-image: url(../../images/information.png);
	background-repeat: no-repeat;
	background-position: 8px 10px;
	padding: 10px 10px 10px 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #b0ce94;
	background-color: #f1f6ec;
	color: #3e4934;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	line-height: 150%;
    margin: 10px 0 10px 0;
}
.message.unspecific
{
    background-color: #f3f3f3;
    border-color: #d4d4d4;
    color: #515151;
}
.message.notice
{
    background-color: #f9f7e0;
    background-image: url(../../images/exclamation.png);   
    color: #281b1b; 
    border-color: #eadca0;
    margin-top: 8px;
}
.message.error
{
    background-color: #f3dddd;
    background-image: url(../../images/exclamation.png);
    border-color: #deb7b7;
    color: #281b1b;
}

.rules
{
	height: 200px;
	border: 1px solid #76774C;
	background-color: #FEFEE4;
	padding: 5px;
	overflow: auto;
    text-align: justify;
    margin: 5px 0px 5px 0px;
}
